<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptm.ppb_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ppbproject">
        <activity android:name="com.ptm.ppb_project.admin.SearchLessonsActivity"></activity>
        <activity android:name="com.ptm.ppb_project.admin.AdminDashboardActivity" />
        <activity android:name="com.ptm.ppb_project.activities.CartActivity" />
        <activity android:name="com.ptm.ppb_project.activities.PelajaranActivity" />
        <activity android:name="com.ptm.ppb_project.activities.NewPasswordActivity" />
        <activity android:name="com.ptm.ppb_project.activities.ForgotPasswordActivity" />
        <activity android:name="com.ptm.ppb_project.activities.DashboardActivity" />
        <activity android:name="com.ptm.ppb_project.activities.VerifyOtpActivity" />
        <activity android:name="com.ptm.ppb_project.activities.LoginActivity" />
        <activity android:name="com.ptm.ppb_project.activities.FirstAuthActivity" />
        <activity android:name="com.ptm.ppb_project.activities.RegisterActivity" />
        <activity android:name="com.ptm.ppb_project.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>